<div class="relative w-full overflow-hidden text-white text-justify">
  <!-- Botones de navegación -->
  <button
    (click)="prevCard()" [disabled]="currentIndex === 0"
    class="absolute left-5 top-1/2 transform -translate-y-1/2 bg-black/50 text-white p-3 rounded-full z-20"
  >
    &lt;
  </button>

  <button
    (click)="nextCard()"
    class="absolute right-5 top-1/2 transform -translate-y-1/2 bg-black/50 text-white p-3 rounded-full z-20"
  >
    &gt;
  </button>

  <!-- Contenedor de las tarjetas -->
  <div class="flex transition-transform duration-500 ease-in-out"
       [ngStyle]="{'transform': getTranslateValue()}">
    <div
      *ngFor="let section of images; let i = index"
      class="flex-shrink-0 w-full sm:w-1/3 p-2"
    >
      <div class="h-[70vh] overflow-hidden shadow-lg">
        <!-- Imagen -->
        <div class="h-[60%] md:h-[50%] relative overflow-hidden">
          <img [src]="section.url" alt="{{ section.title }}"
               class="h-full w-full object-cover">
        </div>
        <!-- Contenedor de texto -->
        <div class="h-[40%] md:h-[50%] flex flex-col justify-center items-center bg-white text-black">
          <div class="flex flex-col  justify-center items-center text-justify p-4 sm:p-6 gap-2">
            <h2 class="font-semibold text-sm">
              {{ section.title }}
            </h2>
            <p class="font-light text-xs md:text-sm">
              {{ section.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
