<!-- info-packages.component.html -->
<div *ngIf="packageData" class="flex flex-row w-full">
  <div class="flex flex-col w-[70%]">
    <app-tour-banner
      *ngIf="packageData.images && packageData.images.length > 0"
      [title]="packageData.title"
      [rating]="4.5"
      [reviews]="12363"
      [images]="packageData.images">
    </app-tour-banner>
    <app-detail-circuits-package
    [packageData]="packageData"
    ></app-detail-circuits-package>
  </div>
  <div class="my-0 md:my-24 sticky top-5 w-[30%] h-[50vh] flex flex-col justify-center items-center bg-[#042a4e] mx-2 text-white rounded-2xl shadow-lg p-8">
    <h1 class="text-3xl font-bold mb-4 text-center">{{ 'INFO_PACKAGES.RESERVE_YOUR_TRIP' | translate }}</h1>
    <p class="text-lg font-semibold mb-6">{{ 'INFO_PACKAGES.FROM' | translate }} {{ packageData.from }}$</p>
    <button class="bg-yellow-500 text-[#042a4e] font-semibold px-12 py-4 rounded-2xl shadow-lg hover:bg-yellow-400 hover:text-[#042a4e] transition-all duration-300">
      {{ 'INFO_PACKAGES.BUY_NOW' | translate }}
    </button>
  </div>
</div>
