<app-navbar></app-navbar>

<!-- Sección principal con imagen de fondo -->
<div class="relative h-[40vh] md:h-[80vh]">
  <img [defaultImage]="'./assets/img/background/street-of-arequipa-and-peruvian-flag-arequipa-p-2023-11-27-05-01-38-utc.webp'" lazyLoad='./assets/img/background/street-of-arequipa-and-peruvian-flag-arequipa-p-2023-11-27-05-01-38-utc.jpg' alt="Background" class="h-full w-full object-cover" width="10px" height="10px">
  <div class="absolute inset-0 top-[200px] md:top-[400px] left-[50px] w-[300px] h-[80px] md:h-[150px]">
    <div class="bg-[#034873] h-full rounded-tr-[50px] md:rounded-tr-[0px] rounded-b-[50px] rounded-tl-[50px] md:rounded-b-[50px] md:rounded-tl-[50px] shadow-lg flex flex-col items-center justify-center">
      <h2 class="text-3xl font-bold text-white mb-4">{{ 'DESTINATIONS.TITLE'|translate }}</h2>
    </div>
  </div>
</div>

<!-- Grid de destinos -->
<div class="h-auto grid grid-cols-2 gap-5 md:gap-10 p-10 pt-14 md:pt-32">
  <!-- Tarjeta de destino -->
  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/arequipa/packages']">
    <img [src]="'assets/img/destinations/arequipa/arequipa-church-iglesia-de-la-compania-de-jesus-2024-09-12-02-46-11-utc_11zon.webp'" lazyLoad="assets/img/destinations/arequipa/arequipa-church-iglesia-de-la-compania-de-jesus-2024-09-12-02-46-11-utc_11zon.webp" alt="Arequipa" class="w-full h-full object-cover">
    <span class="absolute bottom-4 left-4 bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Arequipa</span>
  </div>

  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/cusco/packages']">
    <img [defaultImage]="'assets/img/destinations/cusco/traveling-in-peru-2024-09-21-23-33-22-utc_11zon.webp'" lazyLoad="assets/img/destinations/cusco/traveling-in-peru-2024-09-21-23-33-22-utc_11zon.webp" alt="Cusco" class="w-full h-full object-cover">
    <span class="absolute bottom-4 left-4 bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Cusco</span>
  </div>

  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/puerto-maldonado/packages']">
    <img [defaultImage]="'assets/img/home/amazon-jungle-2024-03-19-21-57-02-utc.webp'" lazyLoad="assets/img/home/amazon-jungle-2024-03-19-21-57-02-utc.webp" alt="Puerto Maldonado" class="w-full h-full object-cover">
    <span class="absolute bottom-4 md:left-4 left-1 w-[120px] md:w-[130px] bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Puerto Maldonado</span>
  </div>

  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/lima/packages']">
    <img [defaultImage]="'assets/img/destinations/lima/scenery-by-the-ocean-in-peru-2023-11-27-05-23-56-utc_11zon.webp'" lazyLoad="assets/img/destinations/lima/scenery-by-the-ocean-in-peru-2023-11-27-05-23-56-utc_11zon.webp" alt="Lima" class="w-full h-full object-cover">
    <span class="absolute bottom-4 left-4 bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Lima</span>
  </div>

  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/ica/packages']">
    <img [defaultImage]="'assets/img/destinations/ica/panoramic-view-of-huacachina-oasis-ica-peru-2023-11-27-05-23-54-utc_11zon.webp'" lazyLoad="assets/img/destinations/ica/panoramic-view-of-huacachina-oasis-ica-peru-2023-11-27-05-23-54-utc_11zon.webp" alt="Ica" class="w-full h-full object-cover">
    <span class="absolute bottom-4 left-4 bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Ica</span>
  </div>

  <div class="relative w-full h-[300px] rounded-lg overflow-hidden shadow-lg" [routerLink]="['/destination/nazca/packages']">
    <img [defaultImage]="'assets/img/destinations/nazca/beautiful-shot-of-nazca-condor-lines-geoglyphs-in-2023-11-27-05-20-19-utc.webp_11zon'" lazyLoad="assets/img/destinations/nazca/beautiful-shot-of-nazca-condor-lines-geoglyphs-in-2023-11-27-05-20-19-utc_11zon.webp" alt="Ica" class="w-full h-full object-cover">
    <span class="absolute bottom-4 left-4 bg-black bg-opacity-50 text-white px-4 py-2 rounded-lg text-lg font-semibold">Nazca</span>
  </div>
</div>

<app-footer></app-footer>
