<!-- Banner -->
<div class="relative h-[60vh] text-white overflow-hidden">
  <img src="assets/img/destinations/cusco/destinations-machu-picchu.webp" alt="Destinations Banner" class="object-[100%_35%] object-cover w-full h-full">
  <div class="absolute top-1/2 left-[10%] transform -translate-y-1/2">
    <h2 class="mt-10 text-3xl font-semibold">{{ 'DESTINATIONS.TITLE'|translate }}</h2>
    <h3 class="text-4xl font-semibold">{{ 'DESTINATIONS.SUBTITLE'|translate }}</h3>
    <button class="p-4 mt-4 bg-[#042A4E]">{{'DESTINATIONS.EXPLORE.MACHU_PICCHU'|translate}}</button>
  </div>
</div>


<div class="px-4 md:px-20 text-gray-700">
  <!-- Introducción -->
  <section class="my-10 space-y-4">
    <h3 class="text-primary  text-3xl font-semibold">
      {{ 'DESTINATIONS.PERU.TITLE' | translate }}
    </h3>
    <p class="text-lg ">
      {{ 'DESTINATIONS.PERU.DESCRIPTION' | translate }}
    </p>
  </section>

  <!-- Secciones dinámicas -->
  <ng-container *ngFor="let region of regions">
    <section class="flex flex-col md:flex-row gap-8 mb-14  items-center"
             [ngClass]="{ 'md:flex-row-reverse': region.reverse }"

    >
      <div *ngIf="region.images?.length" class="flex flex-col md:flex-row gap-6 w-full md:w-1/2 h-full md:h-[50vh] justify-center">
        <img
          *ngFor="let img of region.images; let i = index"
          [src]="img"
          [alt]="region.alt"
          [ngClass]="{
      'md:mt-10': i === 1

    }"
          class="rounded-lg object-cover w-full md:w-1/2 h-full transition-all duration-300"
        />
      </div>

      <div class="flex flex-col gap-3 w-full md:w-1/2">
        <h3 class="text-primary  text-3xl font-semibold">
          {{ region.title | translate }}
        </h3>
        <p class="text-base ">
          {{ region.description | translate }}
        </p>

        <ul *ngIf="region.list" class="list-disc ml-5 space-y-1">
          <li
            *ngFor="let item of region.list | translate"
            [innerHTML]="item.DESCRIPTION || item"
            class="text-base"
            [routerLink]="item.LINK || null"
          ></li>
        </ul>
      </div>
    </section>
  </ng-container>
</div>
