<nav  class=" w-full flex items-center justify-between px-6 py-4 z-50 bg-[#042A4E] text-white shadow-md">
  <div class="flex items-center w-full justify-between">
    <!-- Logo -->
    <div [routerLink]="['/home']" (click)="closeAllMenus()" class="logo flex text-white font-bold text-lg items-center ">
      <img src="assets/img/logo_oficial.webp" alt="Logo" class="h-[5vh] md:h-[10vh] w-auto">
    </div>

    <!-- Menú Hamburguesa (móvil) -->
    <div class="md:hidden">
      <i class="fa-solid fa-bars text-[20px] text-white cursor-pointer" (click)="toggleMenu()"></i>
    </div>

    <!-- Menú principal (desktop) -->
    <ul class="hidden md:flex flex-row text-white items-center gap-16 text-[17px]">
      <!-- HOME -->
      <li class="nav-item transition-colors duration-500 animate-slideDown">
    <h2
      [routerLink]="['/']"
      (click)="closeAllMenus()"
      class="relative cursor-pointer after:absolute after:bottom-[-5px] after:left-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:w-full"
    >
      {{ 'NAVBAR.HOME' | translate }}
    </h2>
      </li>

      <!-- WAYS TO TRAVEL -->
      <li class="nav-item relative">
    <h2
      (click)="toggleWaysToTravelMenu()"
      class="cursor-pointer relative flex items-center after:absolute after:bottom-[-5px] after:left-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:w-full"
    >
      {{ 'NAVBAR.WAYS.TITLE' | translate }}
      <i class="fa-solid fa-chevron-down ml-2 text-sm transition-transform"
         [ngClass]="{ 'rotate-180': isWaysToTravelOpen }"></i>
    </h2>

        <!-- Submenu -->
        <div
          *ngIf="isWaysToTravelOpen"
          class="absolute left-[-100%] top-full w-[400%] flex gap-10 bg-white text-gray-800 shadow-lg mt-2 p-5 z-50 transition-all duration-300"
        >
          <!-- Columna izquierda -->
          <div class="w-[40%] font-semibold">
            <a (click)="openStyleMenu()" class="flex justify-between items-center p-5 hover:bg-gray-100">
              <a>{{ 'NAVBAR.WAYS.STYLES.TITLE' | translate }}</a><span>></span>
            </a>
            <a (click)="openTravelByMenu()" class="flex justify-between items-center p-5 hover:bg-gray-100">
              <a>{{ 'NAVBAR.WAYS.TRAVEL.TITLE' | translate }}</a><span>></span>
            </a>
            <a (click)="openPeruMenu()" class="flex justify-between items-center p-5 hover:bg-gray-100">
              <a>{{ 'NAVBAR.WAYS.PERU.TITLE'|translate }}</a><span>></span>
            </a>
          </div>

          <!-- Columna derecha dinámica -->
          <div class="w-full">
            <!-- Estilos de viaje -->
            <ng-container *ngIf="isStyleOpen">
              <div [routerLink]="['/ways-to-travel/styles']" (click)="closeAllMenus()" class="text-2xl font-semibold px-4 py-2">
                <a>
                {{ 'NAVBAR.WAYS.STYLES.TITLE' | translate }}</a>
              </div>
              <ng-container *ngFor="let style of ['deluxe', 'comfort', 'super-deals']">
                <a
                  [routerLink]="['/ways-to-travel/styles', style]"
                  (click)="closeAllMenus()"
                  class="block px-4 py-2 hover:bg-gray-100"
                ><a>
                  {{ ('NAVBAR.WAYS.STYLES.' + style.toUpperCase().replace('-', '')) | translate }}</a>
                </a>
              </ng-container>
            </ng-container>

            <!-- Intereses -->
            <ng-container *ngIf="isTravelByInterestOpen">
              <div [routerLink]="['/ways-to-travel/travel-by-interest']" (click)="closeAllMenus()" class="text-2xl font-semibold px-4 py-2">
                <a> {{ 'NAVBAR.WAYS.TRAVEL.TITLE' | translate }}</a>
              </div>
              <div class="flex gap-5">
                <div class="flex-1">
                  <ng-container *ngFor="let item of ['circuits', 'extensions', 'trekking', 'full-day-tours', 'family']">
                    <a
                      [routerLink]="['/ways-to-travel/travel-by-interest', item]"
                      (click)="closeAllMenus()"
                      class="block px-4 py-2 hover:bg-gray-100"
                    >
                      <a>
                      {{ ('NAVBAR.WAYS.TRAVEL.' + item.toUpperCase()) | translate }}
                      </a>
                    </a>
                  </ng-container>
                </div>
                <div class="flex-1">
                  <ng-container *ngFor="let item of ['taylor-made', 'cruise', 'mice', 'homestays', 'corporate-travel']">
                    <a
                      [routerLink]="['/ways-to-travel/travel-by-interest', item]"
                      (click)="closeAllMenus()"
                      class="block px-4 py-2 hover:bg-gray-100"
                    >
                      <a>
                      {{ item === 'mice' ? 'MICE' : ('NAVBAR.WAYS.TRAVEL.' + item.toUpperCase()) | translate }}
                      </a>
                    </a>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <!-- Perú -->
            <ng-container *ngIf="isPeruOpen">
              <div [routerLink]="['/destinations']" (click)="closeAllMenus()" class="text-2xl font-semibold px-4 py-2"><a>{{'NAVBAR.WAYS.PERU.TITLE'|translate}}</a></div>
              <div class="flex gap-5">
                <div class="flex-1">
                  <ng-container *ngFor="let item of ['Cusco', 'Puerto Maldonado', 'Puno', 'Arequipa']">
                    <a
                      [routerLink]="['/destination/', item.toLowerCase()]"
                      (click)="closeAllMenus()"
                      class="block px-4 py-2 hover:bg-gray-100"
                    >
                      <a>{{item}}</a>
                    </a>
                  </ng-container>
                </div>
                <div class="flex-1">
                  <ng-container *ngFor="let item of ['Lima', 'Ica', 'Nazca', 'Chachapoyas']">
                    <a
                      [routerLink]="['/destination/', item.toLowerCase()]"
                      (click)="closeAllMenus()"
                      class="block px-4 py-2 hover:bg-gray-100"
                    >
                      <a>{{item}}</a>

                    </a>
                  </ng-container>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </li>


      <!-- ABOUT US -->
      <li class="nav-item relative">
      <a (click)="toggleAboutUsMenu()" class="cursor-pointer relative flex items-center hover:after:w-full after:absolute after:bottom-[-5px] after:left-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300">
        {{ 'NAVBAR.ABOUT_US.TITLE' | translate }}
        <i class="fa-solid fa-chevron-down ml-2 text-sm transition-transform" [ngClass]="{ 'rotate-180': isAboutUsOpen }"></i>
      </a>

        <div
          *ngIf="isAboutUsOpen"
          class="absolute left-0 top-full w-[190%] bg-white text-gray-800 shadow-lg mt-2 p-5 z-50 transition-all duration-300"
        >
          <!-- NUEVA OPCIÓN: Our Purpose -->
          <a
            [routerLink]="'/our-purpose'"
            (click)="closeAllMenus()"
            class="block p-5 hover:bg-gray-100"
          >
            <a>{{ 'NAVBAR.ABOUT_US.OUR_PURPOSE' | translate }}</a>
          </a>
          <ng-container *ngFor="let section of ['OURTEAM', 'LICENSE']">
            <a
              [routerLink]="'/about-us'"
              [fragment]="section.toLowerCase()"
              (click)="closeAllMenus()"
              class="block p-5 hover:bg-gray-100"
            >
              <a>{{ 'NAVBAR.ABOUT_US.' + section | translate }}</a>
            </a>
          </ng-container>

        </div>
      </li>

      <!-- CONTACT -->
      <li class="nav-item transition-colors duration-500 animate-slideDown">
    <a [routerLink]="['/contact-us']" (click)="closeAllMenus()" class="relative cursor-pointer hover:after:w-full after:absolute after:bottom-[-5px] after:left-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300">
      {{ 'NAVBAR.CONTACT_US' | translate }}
    </a>
      </li>

      <!-- BLOG -->
      <li class="nav-item transition-colors duration-500 animate-slideDown">
    <a [routerLink]="['/blog']" (click)="closeAllMenus()" class="relative cursor-pointer hover:after:w-full after:absolute after:bottom-[-5px] after:left-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300">
      Blog
    </a>
      </li>
    </ul>

    <!-- Idioma y contacto -->
    <div class="hidden md:flex items-center gap-6">
      <!-- Idioma -->
      <div class="flex flex-col items-center gap-2">
        <span (click)="changeLanguage('es')" class="cursor-pointer">ESP</span>
        <span (click)="changeLanguage('en')" class="cursor-pointer">ENG</span>
      </div>
      <!-- Teléfono -->
      <div class="relative flex items-center gap-2">
        <i (click)="openWhatsApp()" class="fa-solid fa-phone phone-icon cursor-pointer"></i>
      </div>
    </div>
  </div>

  <!-- Menú móvil -->
  <div
    class="md:hidden fixed top-0 right-[-100%] w-full h-full bg-[#042A4E] z-[1001] flex flex-col px-6 py-4 transition-all duration-500"
    [ngClass]="{ 'right-[0%]': isMenuOpen }"
  >
    <button class="text-white text-2xl mb-4 self-end" (click)="toggleMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <a [routerLink]="['/']" class="text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ 'NAVBAR.HOME' | translate }}</a>
    <div class="flex items-center justify-between text-white py-2 border-b border-white cursor-pointer" (click)="openSubMenu('ways')">
      {{ 'NAVBAR.WAYS.TITLE' | translate }} <span>></span>
    </div>
    <div class="flex items-center justify-between text-white py-2 border-b border-white cursor-pointer" (click)="openSubMenu('about-us')">
      {{ 'NAVBAR.ABOUT_US.TITLE' | translate }} <span>></span>
    </div>
    <a [routerLink]="['/contact-us']" class="text-white py-2 border-b border-white" (click)="closeAllMenus()">{{  'NAVBAR.CONTACT_US' | translate }}</a>
    <a [routerLink]="['/blog']" class="text-white py-2 border-b border-white" (click)="closeAllMenus()">Blog</a>
    <!-- Idiomas -->
    <div class="flex flex-row items-center gap-2 pt-4">
      <span (click)="changeLanguage('es'); closeAllMenus()" class="cursor-pointer text-white">ESP</span>
      <span (click)="changeLanguage('en'); closeAllMenus()" class="cursor-pointer text-white">ENG</span>
    </div>
  </div>

  <!-- Submenú (Segundo Nivel) -->
  <div
    class="md:hidden fixed top-0 right-[-100%] w-full h-full bg-[#042A4E] z-[1002] flex flex-col px-6 py-4 transition-all duration-500"
    [ngClass]="{ 'right-[0%]': activeSubMenu }"
  >
    <button class="text-white text-2xl mb-4" (click)="closeSubMenu()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <!-- WAYS TO TRAVEL -->
    <div *ngIf="activeSubMenu === 'ways'">
      <a [routerLink]="['/ways-to-travel']" (click)="closeAllMenus()" class="font-semibold text-lg pb-2">{{ "NAVBAR.WAYS.TITLE" | translate }}</a>
      <div (click)="openSubSubMenu('styles')" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.WAYS.STYLES.TITLE" | translate }}</div>
      <div (click)="openSubSubMenu('travel')" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.WAYS.TRAVEL.TITLE" | translate }}</div>
      <div [routerLink]="['/destinations']" (click)="closeAllMenus()" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.WAYS.PERU.TITLE" | translate }}</div>
    </div>

    <!-- ABOUT US -->
    <div *ngIf="activeSubMenu === 'about-us'">
      <a (click)="closeAllMenus()" [routerLink]="['/about-us']" class="font-semibold text-lg pb-2">{{ "NAVBAR.ABOUT_US.TITLE" | translate }}</a>
      <a (click)="closeAllMenus()" [routerLink]="'/our-purpose'" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.ABOUT_US.OUR_PURPOSE" | translate }}</a>
      <a (click)="closeAllMenus()" [routerLink]="'/about-us'" [fragment]="'our-team'" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.ABOUT_US.OURTEAM" | translate }}</a>
      <a (click)="closeAllMenus()" [routerLink]="'/about-us'" [fragment]="'license'" class="block text-white py-2 border-b border-white cursor-pointer">{{ "NAVBAR.ABOUT_US.LICENSE" | translate }}</a>
    </div>

  </div>

  <!-- Sub-submenú (Tercer Nivel) -->
  <div
    class="md:hidden fixed top-0 right-[-100%] w-full h-full bg-[#042A4E] z-[1002] flex flex-col px-6 py-4 transition-all duration-500"
    [ngClass]="{ 'right-[0%]': activeSubSubMenu }"
  >
    <button class="text-white text-2xl mb-4" (click)="closeSubSubMenu()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <div *ngIf="activeSubSubMenu === 'styles'">
      <a (click)="closeAllMenus()" [routerLink]="['ways-to-travel/styles']" class="font-semibold text-lg pb-2">{{ "NAVBAR.WAYS.STYLES.TITLE" | translate }}</a>
      <a [routerLink]="['/ways-to-travel/styles/premium']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.STYLES.PREMIUM" | translate }}</a>
      <a [routerLink]="['/ways-to-travel/styles/deluxe']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.STYLES.DELUXE" | translate }}</a>
      <a [routerLink]="['/ways-to-travel/styles/comfort']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.STYLES.COMFORT" | translate }}</a>
      <a [routerLink]="['/ways-to-travel/styles/super-deals']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.STYLES.SUPERDEALS" | translate }}</a>
      <a [routerLink]="['/ways-to-travel/styles/price-sale']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.STYLES.PRICESALE" | translate }}</a>
    </div>

    <div *ngIf="activeSubSubMenu === 'travel'">
      <a (click)="closeAllMenus()" [routerLink]="['ways-to-travel/travel-by-interest']" class="font-semibold text-lg pb-2">{{ "NAVBAR.WAYS.TRAVEL.TITLE" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/circuits']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.CIRCUITS" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/extensions']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.EXTENSIONS" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/trekking']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.TREKKING" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/full-day-tours']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.FULLDAY" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/family']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.FAMILY" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/taylor-made']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.TAYLOR" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/cruise']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.CRUISE" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/mice']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">MICE</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/homestays']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.HOMESTAYS" | translate }}</a>
      <a [routerLink]="['ways-to-travel/travel-by-interest/corporate-travel']" class="block text-white py-2 border-b border-white" (click)="closeAllMenus()">{{ "NAVBAR.WAYS.TRAVEL.CORPORATE" | translate }}</a>
    </div>

  </div>

</nav>
