<div>
<app-slider></app-slider> <!-- Slider -->
</div>
<!--Learn More Seccion-->
<div data-aos="fade-right" data-aos-duration="1000" class="flex items-center justify-center w-full md:gap-40 h-[40vh]">
  <div class="flex flex-col items-center justify-center gap-5 w-[80%] xl:w-[540px] p-10 md:p-0">
    <h6 class="text-xl xl:text-[20px] font-extralight text-[#034873]">
      Andean Elite
    </h6>
    <p class="text-center text-lg xl:text-[25px] text-[#034873]">
      {{ 'ANDEANELITE.DESCRIPTION' | translate }}
    </p>
    <button class="bg-[#4D6270] rounded-full w-[250px] h-[50px] flex items-center justify-center relative group transition-all duration-300 ease-in-out overflow-hidden hover:bg-[#034873]">
      <span class="text-[#FFFFFF] text-[25px] xl:text-[20px] font-light flex items-center justify-center space-x-2 transition-all duration-300 ease-in-out">
        <span class="ml-7 transition-transform duration-300 ease-in-out group-hover:translate-x-[-10px]">
          {{ 'BUTTON.READ_MORE' | translate }}
        </span>
        <span class="opacity-0 translate-x-[10px] text-white group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out">
          →
        </span>
      </span>
    </button>
  </div>
</div>
<!--Why ANDEANELITE Seccion-->
<div class="flex items-center text-justify justify-center flex-col bg-[#034873] text-[#FFFFFF] gap-10 md:gap-20 h-[230vh] xl:h-[80vh] ">
  <div class="mt-10 xl:mt-2">
    <h1 class="text-center text-4xl xl:text-[50px]">{{ 'WHYANDEANELITE.TITLE' | translate}}</h1>
  </div>
  <div class="flex flex-col md:grid md:grid-cols-3 gap-20 md:p-0">
    <!--First-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
      <i class="fa-solid fa-plane text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.1.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.1.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <!--Second-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
        <i class="fa-solid fa-hotel text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.2.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.2.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <!--Third-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
        <i class="fa-solid fa-people-group text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.3.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.3.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <!--Fourth-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
        <i class="fa-solid fa-monument text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.4.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.4.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <!--Fifth-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
        <i class="fa-solid fa-book-open text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.5.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.5.DESCRIPTION' | translate}}</p>
      </div>
    </div>
    <!--Sixth-->
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center justify-center">
        <i class="fa-solid fa-shield-heart text-[60px] md:text-[80px]" ></i>
      </div>
      <div class="w-[200px] md:w-[250px]">
        <h2 class="text-[25px]">{{ 'WHYANDEANELITE.6.TITLE' | translate}}</h2>
        <p class="text-[15px]">{{ 'WHYANDEANELITE.6.DESCRIPTION' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<!--TRAVEL with ANDEANELITE Seccion-->
<div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col h-[70vh] items-center justify-center w-full p-4 ">
  <h1 class="text-center w-full text-[20px] xl:text-[45px] font-extralight text-[#034873] mb-8">{{ 'TRAVELWITH.TITLE' | translate}}</h1>
  <div class="flex flex-col text-center gap-5 text-[15px] xl:text-[17px] font-normal xl:w-[160vh] text-[#4D6270] mb-5">
    <p class="">{{ 'TRAVELWITH.1' | translate}}</p>
    <p class="">{{ 'TRAVELWITH.2' | translate}}</p>
    <p class="">{{ 'TRAVELWITH.3' | translate}}</p>
  </div>
  <button class="bg-[#4D6270] rounded-full w-[250px] h-[50px] flex items-center justify-center relative group transition-all duration-300 ease-in-out overflow-hidden hover:bg-[#034873]">
  <span class="text-[#FFFFFF] text-[20px] font-light flex items-center justify-center space-x-2 transition-all duration-300 ease-in-out">
    <span class="ml-7 transition-transform duration-300 ease-in-out group-hover:translate-x-[-10px]">
      {{ 'TRAVELWITH.BUTTON' | translate}}
    </span>
    <span class="opacity-0 translate-x-[10px] text-white group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out">
      →
    </span>
  </span>
  </button>

</div>
<!--Discover Seccion-->
<div class="flex flex-col justify-center items-center col-span-3 min-h-screen bg-[#0F2D40] ">
  <!-- Título -->
  <div class="text-2xl sm:text-4xl font-extralight text-white mb-6 text-center">
    {{ galleryTitle }}
  </div>

  <div class=" max-w-[350px] xl:max-w-[1200px]">
    <!-- Galería -->
    <app-gallery
      [title]="galleryTitle"
      [images]="galleryImages">
    </app-gallery>
    </div>
  <!-- Botón -->
  <button class="mt-6 bg-[#4D6270] rounded-full w-3/4 sm:w-[250px] h-[50px] flex items-center justify-center relative group transition-all duration-300 ease-in-out overflow-hidden hover:bg-[#034873] focus:ring-2 focus:ring-blue-300">
    <span class="text-white text-base sm:text-lg font-light flex items-center justify-center space-x-2 transition-all duration-300 ease-in-out">
      <span class="ml-7 transition-transform duration-300 ease-in-out group-hover:translate-x-[-10px]">
        {{ 'BUTTON.READ_MORE' | translate }}
      </span>
      <span class="opacity-0 translate-x-[10px] text-white group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out">
        →
      </span>
    </span>
  </button>
</div>
<!--Customers Seccion-->
<div class="flex flex-col justify-center items-center col-span-3 min-h-screen bg-[#ECEAE7] ">
  <!-- Título -->
  <div class="text-2xl sm:text-4xl font-extralight text-[#034873] text-center mb-6">
    {{ galleryTitle1 }}
  </div>

  <!-- Galería -->
  <div class=" max-w-[350px] xl:max-w-[1200px]">
    <app-gallery
      [title]="galleryTitle1"
      [images]="galleryImages1">
    </app-gallery>
  </div>

  <!-- Botón -->
  <button class="mt-6 bg-[#4D6270] rounded-full w-3/4 sm:w-[250px] h-[50px] flex items-center justify-center relative group transition-all duration-300 ease-in-out overflow-hidden hover:bg-[#034873] focus:ring-2 focus:ring-blue-300">
    <span class="text-white text-lg sm:text-xl font-light flex items-center justify-center space-x-2 transition-all duration-300 ease-in-out">
      <span class="ml-7 transition-transform duration-300 ease-in-out group-hover:translate-x-[-10px]">
        {{ 'BUTTON.READ_MORE' | translate }}
      </span>
      <span class="opacity-0 translate-x-[10px] text-white group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out">
        →
      </span>
    </span>
  </button>
</div>
<!--Contact us Seccion-->
<div class="flex flex-col xl:flex-row row-span-2 justify-center items-center gap-20 h-[70vh]">
  <div class="hidden xl:block h-[50vh] w-[30vh]">
    <img class="h-full object-cover" src="/assets/img/destinations/nazca/destinations-peru-nasca.webp" alt="a">
  </div>
  <div data-aos="fade-up" data-aos-duration="1000" class="flex flex-col col-span-3 gap-6 p-4 ">
    <h1 class="text-[30px] font-extralight text-[#034873]">{{ 'CONTACTUS.TITLE' | translate }}</h1>
    <p class="text-[10px] md:text-[20px] font-normal text-[#4D6270]">{{ 'CONTACTUS.DESCRIPTION' | translate }}</p>
    <form class="flex flex-col gap-5">
      <input class="w-[300px] md:w-[400px] h-[50px] border-[#4D6270] border-solid border-[1px]" type="text" placeholder="Name">
      <input class="w-[300px] md:w-[400px] h-[50px] border-[#4D6270] border-solid border-[1px]" type="text" placeholder="Email">
      <input class="w-[300px] md:w-[400px] h-[50px] border-[#4D6270] border-solid border-[1px]" type="text" placeholder="Phone">
      <button class="bg-[#4D6270] rounded-full w-[150px] h-[50px] flex items-center justify-center relative group transition-all duration-300 ease-in-out overflow-hidden hover:bg-[#034873]">
        <span class="text-white text-[20px] font-extralight flex items-center space-x-2">
          <span class="group-hover:-translate-x-2 transition-transform duration-300 ease-in-out">{{ 'CONTACTUS.BUTTON' | translate }}</span>
          <span
            class="opacity-0 translate-x-[-10px] text-white group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out">
            →
          </span>
        </span>
      </button>
    </form>
  </div>
</div>
