<app-banner [backgroundImage]="backgroundImage" [title]="title"></app-banner>

<!-- Descripción -->
<div class="max-w-4xl mx-auto text-center py-8">
  <p class="text-lg text-gray-700">{{ description }}</p>
</div>

<!-- Grid principal -->
<div class=" grid grid-cols-1 md:grid-cols-4 gap-6 px-4 md:px-6 pb-12">

  <!-- Lista de paquetes -->
  <div class="md:col-span-3">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        *ngFor="let package of packages"
        class="bg-white shadow-lg cursor-pointer hover:shadow-xl transition"
        (click)="goToPackageDetails(package.slug)"
      >
        <img [src]="package.image" [alt]="package.title" class="w-full h-[50vh] object-cover rounded-t-md" />
        <div class="py-2 h-full px-4">
          <h3 class="text-center text-base font-semibold text-[#034873]">
            {{ package.title }}
          </h3>
          <h4 class="text-center text-sm font-semibold text-[#034873]">
            {{ package.days }}D / {{ package.nights }}N
          </h4>
          <h4 class="text-center text-sm font-semibold text-[#034873]">
            {{ 'INFO_PACKAGES.FROM' |translate}} {{ package.price }}$
          </h4>

          <div class="text-center text-sm font-semibold text-[#034873]">
            <button class="rounded-2xl bg-[#042a4e] text-white px-4 py-2 mt-4 hover:bg-blue-900 transition-colors duration-300" (click)="goToPackageDetails(package.slug)">
              Ver Programa >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="md:col-span-1">
    <app-filter-sidebar
      [cities]="cities"
      [categories]="categories"
      [filterCity]="filterCity"
      [filterCategory]="filterCategory"
      [searchTerm]="searchTerm"
      (cityChange)="onCityChange($event)"
      (categoryChange)="onCategoryChange($event)"
      (searchChange)="onSearchChange($event)"
    ></app-filter-sidebar>
  </div>
</div>
