<app-navbar [enableScrollEffect]="false"></app-navbar>

<div class="h-[80vh] relative">
  <!-- Imagen de fondo -->
  <img src="assets/img/background/street-of-arequipa-and-peruvian-flag-arequipa-p-2023-11-27-05-01-38-utc.jpg" alt="Background" class="h-full w-full object-cover">

  <!-- Contenido del equipo -->
  <div class="absolute inset-0 top-[430px] left-[50px] w-[300px] h-[200px]">
    <div class="bg-[#034873] p-10 h-full rounded-b-[50px] rounded-tl-[50px] shadow-lg flex flex-col items-center justify-center">
      <h2 class="text-3xl font-bold text-white mb-4">Our Team</h2>
    </div>
  </div>
</div>

<div class="h-[100vh] flex flex-col col-span-2 items-center justify-center gap-5">
  <h1 class="text-[30px] text-start text-[#034873]">Somos Andean Elite: Un Mundo de Lujo Personalizado y Viajes Inolvidables</h1>
  <span class="w-[1100px] text-[20px] text-justify">
  En Andean Elite transformamos tus sueños de viaje en realidad. Nos especializamos en crear experiencias de lujo personalizadas que reflejan tus emociones y deseos. Desde los majestuosos Andes hasta la maravilla eterna de Machu Picchu, diseñamos itinerarios únicos que capturan la esencia de la cultura, historia y belleza natural del Perú.
  ¿Qué nos hace diferentes? No solo es nuestra atención al detalle ni nuestros itinerarios cuidadosamente seleccionados. Es la pasión y dedicación que ponemos en cada aventura. Nuestro equipo de expertos está disponible las 24 horas, los 7 días de la semana, para garantizar que cada momento de tu viaje sea perfecto e inolvidable. Ya sea explorando Cusco con guías expertos o disfrutando de la elegancia de hoteles boutique y transporte privado, priorizamos tu comodidad, seguridad y conexión con la riqueza del patrimonio peruano.
  </span>
</div>
<app-footer></app-footer>
