@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Clase para animar el logo */
.logo {
  animation: slideDown 1s ease-out;
}

.nav-item {
  animation: slideDown 1s ease-out;
}

/* Clases para cada palabra del navbar */
.nav-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.5s ease;
}

/* Línea animada debajo de cada palabra */
.nav-item::after {
  content: '-';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 7px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* Número de teléfono */
.phone-number {
  width: 300px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 47px;
  transform: translateX(-80%);
  background-color: #707070;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 10;
  white-space: nowrap;
  text-decoration: none;
  pointer-events: none;
}

.phone-icon:hover + .phone-number,
.phone-number:hover {
  display: block;
  pointer-events: auto;
}

.phone-number:hover {
  color: #151a33;
}
/* Estilo para animar el menú desplegable */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(100%);
}
/* Estilos para el navbar */
.transition-opacity {
  transition: opacity 0.5s ease-in-out, pointer-events 0.5s ease-in-out;
}

/* Estilo responsive */
@media (max-width: 1024px) {
  .phone-number {
    width: 240px;
  }

  /* Estilos para el menú desplegable */
  .nav-item {
    font-size: 18px; /* Tamaño de fuente adecuado para móviles */
  }

  .logo {
    flex: 1;
  }

}

