<div class="h-[10vh] flex justify-center items-center text-[30px] text-[#034873]">
  CUSCO
</div>
<div class="ml-5 grid grid-cols-2 md:grid-cols-4 gap-5">
  <app-destination-card
    title="Cusco Especial 5d/4n"
    [price]="618"
    [originalPrice]="850"
    [discount]="27"
    days="4 DÍAS"
    imageUrl="assets/img/destinations/cusco/brown-and-white-lama-resting-on-green-meadow-at-ma-2024-07-03-02-43-58-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(1)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Exótico 4d/3n"
    [price]="415"
    [originalPrice]="600"
    [discount]="31"
    days="4 DÍAS"
    imageUrl="assets/img/destinations/cusco/cusco-2023-11-27-05-29-33-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(2)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Inolvidable 4D/3N"
    [price]="461"
    [originalPrice]="500"
    [discount]="8"
    days="4 DÍAS"
    imageUrl="assets/img/destinations/cusco/hike-in-peru-2023-11-27-05-36-13-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(3)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Exótico 5D/4N"
    [price]="507"
    [originalPrice]="600"
    [discount]="16"
    days="5 DÍAS"
    imageUrl="assets/img/destinations/cusco/hike-in-peru-2023-11-27-05-01-51-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(4)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Maravilloso 5D/4N"
    [price]="436"
    [originalPrice]="500"
    [discount]="13"
    days="5 DÍAS"
    imageUrl="assets/img/destinations/cusco/hike-in-peru-2024-11-05-01-38-14-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(5)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Multicolor 5d/4n"
    [price]="539"
    [originalPrice]="720"
    [discount]="25"
    days="5 DÍAS"
    imageUrl="assets/img/destinations/cusco/incredibly-beatiful-site-of-machu-picchu-2023-11-27-05-12-24-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(6)"
  >
  </app-destination-card>
  <app-destination-card
    title="Cusco Soñador 4D/3N"
    [price]="368"
    [originalPrice]="450"
    [discount]="18"
    days="4 DÍAS"
    imageUrl="assets/img/destinations/cusco/panoramic-view-of-machu-picchu-lost-city-at-archae-2024-07-03-02-44-10-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(7)"
  >
  </app-destination-card>
  <app-destination-card
    title="Valle Sagrado, Aguas Calientes, Machu Picchu, Maras & Moray"
    [price]="541"
    [originalPrice]="650"
    [discount]="17"
    days="5 DÍAS"
    imageUrl="assets/img/destinations/cusco/peruvian-women-with-little-alpaca-lamb-2023-11-27-05-13-54-utc.jpg"
    [destinationBase]="'destination/cusco'"
    (click)="onCardClick(8)"
  >
  </app-destination-card>
</div>
