<div class="relative w-full max-w-[320px] mx-auto h-min-[200px] rounded-lg overflow-hidden shadow-lg border sm:max-w-[400px]" (click)="onCardClick()">
  <!-- Imagen -->
  <img [lazyLoad]="imageUrl" [alt]="title" class="w-full h-[150px] object-cover sm:h-[200px]">

  <!-- Descuento -->
  <div *ngIf="discount" class="absolute top-2 right-2 bg-red-600 text-white text-sm px-2 py-1 rounded">
    -{{ discount }}%
  </div>

  <!-- Días -->
  <div class="absolute bottom-[120px] right-2 bg-black bg-opacity-75 text-white text-xs px-3 py-1 rounded">
    {{ days }}
  </div>

  <!-- Detalles -->
  <div class="p-4 flex flex-col justify-between h-[calc(100%-150px)] sm:h-[calc(100%-200px)]">
    <h3 class="text-sm font-semibold text-gray-800 sm:text-base">{{ title }}</h3>
    <div class="text-xs text-gray-500 sm:text-sm">
      <p>Precio desde:</p>
      <p>
        <span class="line-through text-gray-400">${{ originalPrice }}</span>
        <span class="text-red-600 text-base font-bold ml-2 sm:text-lg">${{ price }}</span>
      </p>
    </div>
    <button class="mt-4 px-3 py-2 bg-red-600 text-white rounded-lg text-xs sm:text-sm hover:bg-red-700">
      Ver Programa
    </button>
  </div>
</div>
