<div class="relative w-full h-[50px]">
  <!-- Input con eventos -->
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterCountries()"
    (focus)="showDropdown = true"
    (click)="showDropdown = true"
    (blur)="hideDropdown()"
    placeholder="{{ 'CONTACT-US.CODE' | translate }}"
    class="w-full h-[50px] p-2 border border-gray-700 rounded-lg"
  />

  <!-- Lista filtrada -->
  <ul
    *ngIf="showDropdown && filteredPhoneCodes.length > 0"
    class="absolute z-10 w-full bg-white border border-gray-300 rounded-md max-h-60 overflow-y-auto shadow-lg mt-1"
  >
    <li
      *ngFor="let country of filteredPhoneCodes"
      (mousedown)="selectCountry(country)"

    class="px-4 py-2 hover:bg-blue-100 cursor-pointer"
    >
      {{ country.flagEmoji }} {{ currentLang === 'es' ? country.nameES : country.nameEN }} ({{ country.phoneCode }})
    </li>
  </ul>
</div>
