<app-banner [backgroundImage]="'ABOUT-US.IMAGE'"
            [title]="'ABOUT-US.TITLE' | translate"></app-banner>

<div class="flex flex-col items-center py-10 bg-[#f5f2eb]">
  <!-- Descripción general -->
  <div class="max-w-6xl w-full p-6 text-center" id="description">
    <p class="text-lg text-gray-700">{{ 'ABOUT-US.DESCRIPTION' | translate }}</p>
  </div>

  <!-- Por qué viajar con nosotros -->
  <div class="max-w-6xl w-full p-6" id="why-travel-with-us">
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.WHY.TITLE' | translate }}</h2>
      <ul class="text-gray-600 mt-2 list-disc pl-6">
        <li *ngFor="let reason of 'ABOUT-US.WHY.DESCRIPTION' | translate">{{ reason }}</li>
      </ul>
    </div>
  </div>

  <!-- Licencias -->
  <div class="max-w-6xl w-full p-6" id="license">
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.LICENSE.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2">{{ 'ABOUT-US.LICENSE.DESCRIPTION' | translate }}</p>
    </div>
  </div>

  <!-- Viaje Responsable -->
  <div class="max-w-6xl w-full p-6" id="responsible">
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.RESPONSIBLE.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2" [innerHTML]="'ABOUT-US.RESPONSIBLE.DESCRIPTION' | translate"></p>
    </div>
  </div>

  <div class="max-w-6xl w-full p-6" id="responsible">
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.RESPONSIBLE.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2" [innerHTML]="'ABOUT-US.RESPONSIBLE.DESCRIPTION' | translate"></p>
    </div>
  </div>

  <!-- Call -->
  <div class="max-w-6xl w-full p-6 text-center" id="description">
    <h2 class="text-2xl text-[#034873]">{{ 'ABOUT-US.READY.TITLE' | translate }}</h2>
    <p class="text-lg text-gray-700" [innerHTML]="'ABOUT-US.READY.DESCRIPTION' | translate"></p>
  </div>

</div>
