<app-banner [backgroundImage]="'assets/img/destinations/banner-destinations-peru.webp'"
            [title]="'ABOUT-US.TITLE' | translate"></app-banner>

<div class="flex flex-col items-center mb-5 bg-[#f5f2eb]">
  <!-- Descripción general -->
  <div class="max-w-4xl text-center p-5" id="description">
    <p class="text-lg text-gray-700">{{ 'ABOUT-US.DESCRIPTION' | translate }}</p>
  </div>

  <!-- Misión y Visión -->
  <div class="max-w-6xl grid md:grid-cols-2 gap-6 p-6" id="mission-vision">
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.MISSION.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2">{{ 'ABOUT-US.MISSION.DESCRIPTION' | translate }}</p>
    </div>
    <div class="bg-white shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.VISION.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2">{{ 'ABOUT-US.VISION.DESCRIPTION' | translate }}</p>
    </div>
  </div>

  <!-- Nuestro Equipo -->
  <div class="max-w-6xl text-center p-6" id="our-team">
    <h2 class="text-3xl font-semibold text-[#034873]">{{ 'ABOUT-US.OUR_TEAM.TITLE' | translate }}</h2>
    <p class="text-gray-600 mt-2">{{ 'ABOUT-US.OUR_TEAM.DESCRIPTION' | translate }}</p>
  </div>

  <!-- Licencias -->
  <div class="max-w-6xl p-6 mt-6" id="license">
    <div class="p-6 bg-white shadow-lg">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.LICENSE.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2">{{ 'ABOUT-US.LICENSE.DESCRIPTION' | translate }}</p>
    </div>
  </div>

  <!-- Viaje Responsable -->
  <div class="max-w-6xl p-6 mt-6" id="responsible">
    <div class="p-6 bg-white shadow-lg">
      <h2 class="text-2xl font-semibold text-[#034873]">{{ 'ABOUT-US.RESPONSIBLE.TITLE' | translate }}</h2>
      <p class="text-gray-600 mt-2">{{ 'ABOUT-US.RESPONSIBLE.DESCRIPTION' | translate }}</p>
    </div>
  </div>

</div>
