<!-- Sección principal con imagen de fondo -->
<div class="relative h-[40vh] md:h-[80vh]">
  <img [src]="backgroundImage" alt="Background" class="h-full w-full object-cover">
  <div class="absolute top-0 left-0 inset-0 bg-black opacity-30"></div>
  <div class="absolute inset-0 top-[200px] md:top-[400px] left-[50px] w-[300px] h-[80px] md:h-[150px]">
    <div class="bg-[#034873] h-full rounded-tr-[50px] md:rounded-tr-[0px] rounded-b-[50px] rounded-tl-[50px] md:rounded-b-[50px] md:rounded-tl-[50px] shadow-lg flex flex-col items-center justify-center">
      <h2 class="text-3xl font-bold text-white mb-4">{{ title | translate }}</h2>
    </div>
  </div>
</div>
